@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

html {
  min-height: 100%;
  height: auto;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  background-repeat: no-repeat;
  color: rgba(13, 30, 62, 0.776);
}

h1 {
  font-size: 3em;
}

h2 {
  align-self: flex-start;
  width: 74%;
  margin: 4% 0 2.5% 13%;
  font-size: 1.8em;
  border-bottom: solid 1px rgba(7, 18, 38, 0.353);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.App {
  margin-top: 4vw;
  margin-bottom: 3em;
  width: 70vw;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 8px rgba(10, 10, 10, 0.1);
  min-height: 60vh;
  border-radius: 20px;
  align-items: center;
  padding: 2em;
  padding-bottom: 3em;
}

.task {
  width: 50vw;
  min-height: 4vh;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.2);
  margin-bottom: 0.35em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(250, 250, 250, 0.55);
  padding: 0.3em 1.1em;
  color: rgba(7, 18, 38, 0.83);
}

.task input {
  width: 20px;
  height: 20px;
  object-fit: contain;
  opacity: 0.8;
}

.task li {
  margin-left: 0.2em;
}

.App form {
  width: 70%;
  display: flex;
  justify-content: center;
}

.todoInput {
  font-size: 1.1em;
  text-align: center;
  width: 100%;
  padding: 0.3em 0.5em;
  height: 22px;
  border-radius: 30px;
  margin-right: 0.7em;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  box-shadow: 0px 0px 8px rgba(10, 10, 10, 0.2);
}

.addButton {
  display: flex;
  align-items: center;
  -webkit-filter: invert(1);
  filter: drop-shadow(2px 2px 1px rgba(250, 250, 250, 0.3)) invert(1);
  width: 4.5%;
  color: white;
  min-width: 30px;
}

.taskActions {
  display: flex;
  filter: saturate(95%);
}

.taskActions input {
  margin-left: 0.6em;
}

.addButton,
.taskActions input {
  transition: transform 0.4s ease;
}

.addButton:hover,
.taskActions input:hover {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.3em;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
  }

  form .todoInput {
    width: 60vw;
  }

  .task {
    width: 65vw;
  }
}
